<meta charset="UTF-8">
<link rel="icon" href="views/static/img/system/logo1.svg">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{PROYECT_NAME}} - {{PROYECT_SECTION}}</title>

<!-- Primary Meta Tags -->
<meta name="title" content="{{PROYECT_NAME}} - {{PROYECT_SECTION}}">
<meta name="description" content="{{PROYECT_DESCRIPTION}}">

<meta name="author" content="{{PROYECT_AUTHOR}}">
<meta name="reply-to" content="{{PROYECT_EMAIL_AUTHOR}}">
<link rev="made" href="mailto:{{PROYECT_EMAIL_AUTHOR}}">
<meta name="keywords" content="{{PROYECT_KEYWORDS}}">
<meta name="Resource-type" content="Document">
<meta name="DateCreated" content="Thu, 22 September 2020 00:00:00 GMT+3">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{PROYECT_URL}}">
<meta property="og:title" content="{{PROYECT_NAME}} - {{PROYECT_SECTION}}">
<meta property="og:description" content="{{PROYECT_DESCRIPTION}}">
<meta property="og:image" content="{{PROYECT_URL}}/web/img/hero.jpeg">

<!-- MODO: DEBUG, RELEASE -->

<link rel="stylesheet" href="views/static/css/index.css{{PROYECT_MODE}}">