<header class="header">
  <button class="btn-menu-open" id="btn_menu_open">
    <img src="views/static/img/system/hamburger-button.svg">
  </button>
  <div class="header-logo" id="header_logo">
    <img src="views/static/img/system/logo1.svg" class="header-logo-img">
    <h2><span>App</span> Estación</h2>
  </div>    
  <nav class="header-nav" id="header_nav">
    <ul class="header-nav-ul" id="header_nav_ul">
      <button class="btn-menu-close" id="btn_menu_close">
        <img src="views/static/img/system/close.svg">
      </button>
      <li class="link-item">
      	<a href="./">
      		<img class="link-item-img" src="views/static/img/system/all-application.svg">
      		Inicio
      	</a>
      </li>
      <!-- <li class="link-item">
      	<a href="#desc">
      		<img class="link-item-img" src="">
      		Descripción
      	</a>
      </li> -->
      <li class="link-item">
      	<a href="panel">
      		<img class="link-item-img" src="views/static/img/system/towers.svg">
      		Estaciones
      	</a>
      </li>
    </ul>
  </nav>
</header>