@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
	/*BODY*/
	--body-bg: #fff;

	/*HEADER COLOR*/
	--header-bg: #7e2929;
	--header-title-color: #fff;
	--header-logo-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(7deg) brightness(110%) contrast(101%);
	--link-color: #fff;
	--link-hover: #fff;
	
	--submenu-bg: #;
	--submenu-hover: #;
	--header-icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(109%) contrast(101%);
	--img-color: brightness(0) saturate(100%) invert(36%) sepia(14%) saturate(1561%) hue-rotate(98deg) brightness(92%) contrast(86%);
	
	/*BOTON PERFIL COLOR*/
	--btn-perfil-bg: #;
	--btn-perfil-color: brightness(0) saturate(100%) invert(36%) sepia(14%) saturate(1561%) hue-rotate(98deg) brightness(92%) contrast(86%);
	--btn-perfil-hover: brightness(0) saturate(100%) invert(75%) sepia(20%) saturate(396%) hue-rotate(93deg) brightness(93%) contrast(92%);
	
	/*COLOR ICONOS*/
	--img-hover: brightness(0) saturate(100%) invert(75%) sepia(20%) saturate(396%) hue-rotate(93deg) brightness(93%) contrast(92%);
    
	
	/*COLOR BOTON DEFECTO*/
    --btn-img-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(109%) contrast(101%);

}

@keyframes appear{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

*{
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--body-bg);
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

/*
	HEADER
*/
.header{
	position: sticky;
	background-color: var(--header-bg);
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	padding: .5rem;
}

.header-logo{
	display: flex;
	align-items: center;
	gap: .5rem;
	margin-left: 1.5rem;
	user-select: none;
	color: var(--header-title-color);
}

.header-logo{
	font-size: 1.2rem;
}

.header-logo h2 span{
	color: black
}

.header-logo-img{
	height: 50px;
	filter: var(--header-logo-color);
}

.header-nav{
	transition: all .5s;
}

.header-nav-ul{
	list-style: none;
	display: inline-flex;
	background-color: var(--header-bg);
	align-items: center;
}

.link-item{
	position: relative;
}

.link-item-img{
	height: 24px;
	filter: var(--header-icon-color);
	display: none;
}

.link-item a{
	text-decoration: none;
	color: var(--link-color);
	padding: 0 15px;
	cursor: default;
	user-select: none;
	display: flex;
	align-items: center;
	height: 20px;
	font-size: 1.2rem

}

.link-item:after{
	content: '';
    height: 3px;
    width: 0;
    background: var(--link-hover);
    position: absolute;
    left: 0;
    bottom: -15px;
    transition: 0.5s;
}

.link-item:hover:after{
	width: 100%;
}


/*
	BOTON SUBMENU
*/
.link-item-submenu{
	display: flex;
	align-items: center;
	transition: all .4s ease-in-out;
}

.link-item-submenu img{
	height: 20px;
	filter: var(--header-icon-color);
	transition: all .4s ease-in-out;
}

.submenu{
	list-style: none;
	position: absolute;
	background-color: var(--submenu-bg);
	padding: 0;
	top:35px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    overflow: hidden;
    height: 0;
    width: 100%;
	transition: all .4s ease-in-out;
}

.submenu li{
	padding: 10px;
	transition: all .2s ease-in-out;
}

.submenu li:hover{
	background-color: var(--submenu-hover);
}
.btn-menu-open,.btn-menu-close{
	background-color: transparent;
	filter: var(--header-icon-color);
	border:none;
	user-select: none;
	display: none;
}

.btn-menu-open img{
	height: 30px;
	vertical-align: middle;
}

/*
	RESPONSIVE LABTOP
*/
@media (max-width: 1024px) {
	.header{
		height: 60px;
	}

	.header-logo{
		font-size: 1rem
	}

	.header-logo-img{
		height: 40px;
	}
	
	.link-item a{
		height: 19px;
		font-size: 1rem
	}

	.link-item:after{
		bottom: -10px
	}

	.submenu{
		top:30px;
	}
	
	.link-perfil{
		padding: 6.5px 0;
	}

	.link-perfil img{
		height: 23px;
	}
		
	.alerta-user{
		top: 30px;
	}
}

/*
	RESPONSIVE MOBILE
*/
@media (max-width: 600px) {
	.header{
		padding: .5rem;
	}

	.link-perfil{
		border-radius: 50%;
	}

	.header-logo{
		margin:0;
	}

	.header-logo-img{
		height: 30px
	}

	.header-nav {
	    overflow: hidden;
	    width: 0;
	    position: absolute;
	    z-index: 2;
	    left: 0;
	    top: 0;
	    background-color: rgb(0 0 0 / 50%);
	    height: 100vh;
	}

	.header-nav-ul {
	    position: absolute;
	    left: 0;
	    z-index: 3;
	    flex-direction: column;
	    align-items: flex-start;
	    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
	    height: 100vh;
	    overflow-y: auto;
	    gap: 2rem;
	    padding: 1rem;
	}

	.header-nav-ul li{
		width: 90%;
		margin-left: 1rem;
	}
	

	.link-item a{
		gap:1rem;
	}
	.link-item-img{
		display: block;
	}

	.submenu{
		position: sticky;
		margin-left: 25px;
		box-shadow: none;
		border-left: 2px solid var(--link-color);
		width: auto;
		background-color: transparent;
	}

	.submenu li{
		margin: 0;
		width: 100%;
	}
	.btn-menu-open,.btn-menu-close{
		display: block;
	}

	.alerta-user{
		top: 50px;
	}

}

/*
	MAIN
*/
main{
	overflow: auto;
	height: calc(100vh - 80px);
}

.block-scroll{
	overflow: hidden;
}

.btn{
	outline: none;
	cursor: pointer;
	padding: .5rem 2rem;
	font-size: 1rem;
	border: 2px solid #7e2929;
	background-color: #7e2929;
	color: #fff;
	text-decoration:none;
	/*font-weight: bold;*/
	text-transform: capitalize;
	border-radius: 5px;
	overflow: hidden;
}
.btn:hover{
	transition: all .4s;
	background-color: transparent;
	/*color: #183762;*/
	box-shadow: 0px 0px 30px 0px rgb(126 41 41 / 100%);
}
/*
	RESPONSIVE NETBOOK
*/
@media(max-width: 1024px){
	main{
		height: calc(100vh - 60px);
	}
}

/*
	ERROR 404
*/
.section-error{
	height: 100%;
	display: grid;
	place-items:center;
	text-align: center;
}
.section-error h1{
	font-size: 10rem
}
.section-error h2{
	font-size: 3rem
}
